* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.search {
    width: 100vw;
    height: min-content;
    padding: 50px 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.search-box {
    width: 85%;
}
.MuiInputBase-input {
    font-size: 50px;
}
// Titles Area

.titles {
    width: 75%;
    align-items: center;
    height: 119px;
    display: flex;
    flex-direction: column;

    gap: 8px;
}

.title1 {
    width: 100%;
    color: #141414;
    font-family: DM Sans;
    font-size: 56px;
    font-weight: 700;
    text-align: left;
}
.colored-title {

    color: #3575E2;
    font-family: DM Sans;
    font-size: 56px;
    font-weight: 700;
}

.title2 {
    width: 100%;
    color: rgba(0, 0, 0, 0.70);
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
}

// Search Area

.search-area {
    height: 60px;

    display: flex;
    align-items: flex-start;
    gap: -1px;
    justify-content: space-around;

}

// Home Menu

.home-box {
    display: flex;
    width: 100vw;
    padding: 48px 64px 64px;
    justify-content: center;
    gap: 8px;

    background: #FAFAFA;

}

.home-menu {
    display: flex;
    justify-content: space-between;
    width: 85%;
    gap: 10px;
}

// Jobs Box
.jobsBox {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    padding: 24px;
    gap: 24px;

    border-radius: 8px;
    border: 1px solid rgba(20, 20, 20, 0.05);
    background: #FFF;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03);
    cursor: pointer;
}

.jobsCompany {
    color: #141414;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}
.jobsPosition {
    color: #141414;
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

.jobsList {
    display: flex;
    padding: 2px 0;
    flex-direction: row;
    justify-content: flex-start;
    align-items: left;
    gap: 12px;
}
.jobsDescr {
    color: rgba(20, 20, 20, 0.70);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: fit-content;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.miniScreenSearch {
    display: none;
}
// Mini Screens
@media screen and (max-width:1200px) {
    .titles {
        width: 100vw;
        margin: 20px 0;
    }
    .search {
        display: none;
    }
    .title1 {
        text-align: center;
    }
    .title2 {
        text-align: center;
    }
    .miniScreenSearch {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    // Jobs Box
    .home-box {
        padding: 40px 20px;
    }
    .jobsBox {
        width: 100%;
    }
    .home-menu {
        justify-content: center;
        width: 85%;
    }
}
@media screen and (max-width:900px) {
    .title1 {
        text-align: center;
        font-size: 40px;
    }
    .colored-title {
        font-size: 40px;
    }
    .title2 {
        text-align: center;
    }
    .home-menu {
        width: 100%;
    }
}
@media screen and (max-width:600px) {

    .title1 {
        text-align: center;
        font-size: 30px;
    }
    .colored-title {
        font-size: 30px;
    }
    .jobsList{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    }
}
