* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav {
    width: 100vw;
    height: 72px;
    padding: 0 64px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;

}
.nav-menu {
    width: 85%;
    height: 64px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

}

// logo-name
.logo-name {
    width: 133px;
    height: 36px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}
.webname {
    font-family: DM Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
}

// List Links

.list-links {
    width: 520px;
    height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;

    list-style: none;
}
.nav-links {
    color: #141414;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
}

// login SignUp

.login-signup {
    width: 350px;
    height: 40px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.login {
    display: flex;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 1px solid rgba(20, 20, 20, 0.10);
    background: #FFF;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03);
    cursor: pointer;
}
.login-name {
    width: 60%;
    color: #141414;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    // Hide Long Text
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.login-names{
    color: white;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.signup {
    display: flex;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #3575E2;
    border: none;
    cursor: pointer;
}
.signup-name {
    color: #FFF;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

@media screen and (max-width:900px) {
 .nav{
    padding: 0px;
 }   
 .nav-menu{
    width: 90%;
 }
}